.App {
  text-align: center;
}

.App-logo { 
  height: 200px;
}

.App-header {
  background-color: #282C35;
  height: 250px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
  color: #62DFF8;
}

.App-intro {
  font-size: large;
}

.table{
  width: 70%;
  border-collapse: collapse;  
}

.notification{
  width: 70%;
  border-style: solid;
  border-color: dodgerblue
}

.button {
  padding: '10px';
  background-color: '#282C35';
}